<li class="nav-top-list nav-top-list--right">
      {{#link-to 'analysis' (query-params
      reviewer=session.data.user.id
      editable=1
      fromDate=startOfMonth
      toDate=endOfMonth
      )}}
        {{fa-icon 'exclamation-triangle'}} Review warning
      {{/link-to}}
  </li>